/awit.py
/bs4
/Chapter 6 - Strings.py
/Chapter 7.docx
/Chapter 8.docx
/Chapter7.py
/Chapter8.py
/cmd.png
/exercise 5.1.py
/ex_02_03.py
/ex_03_01.py
/file handling.py
/finding the average.py
/first.py
/from bs4 import BeautifulSoup.py
/hello.py
/httppy4e-data.dr-chuck.netregex_sum_1024904.txt
/i love python.py
/ilovepython.png
/loop iteration.py
/practice.py
/printlargestnumber.py
/printsmallest.py
/regex.py
/search using boolean variable.py
/total.py